
.verse
	{
	display:block;
	}
.first-verse:first-child:first-letter
	{
	font-size:92px;
	float:left;
	padding-right:0px;
	height:64px;
	margin-right:0px;
	line-height:70px;
	}
.first-word
	{
	text-transform:uppercase;
	}
.para
	{
	font-weight:bold;
	}
.verse-number
	{
	margin-right:7px;
	}
