::placeholder {
    color: #ccc;
    font-weight: normal;
    opacity: .5;
}

.sub-header .is-sticky {
    top: 70px!important;
}

.sub-header {
    border-bottom-color: transparent!important;
}


.dropdown-menu {
    font-family: 'Lora';
    text-align: justify;
    margin-left: 20px!important;
    box-shadow: 1px 1px 10px #999;
}

.outline {
    font-style: italic;
    font-size: 17px;
    padding: 20px;
}

.nav-item.tools {
    font-size: 12px;
}

.nav-item.tools a.nav-link {
    padding: 7px 9px 7px 9px;
    border-top-left-radius: 5px!important;
    border-top-right-radius: 5px!important;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}

.nav-item.tools a:hover.nav-link {
    background-color: #666666;
    color: #fff;
}

.nav-item.tools a.nav-link.active {
    border-top-left-radius: 5px!important;
    border-top-right-radius: 5px!important;
    background-color: #a10f2b!important;
    color: #fff;
}

.nav-item.tools a.nav-link.active::before {
    display: none;
}

.nav-item.tools a:hover.nav-link.active {
    color: #fff;
}

.nav-link {
    margin-right: 4px!important;
}

.title {
    font-weight: bold;
    font-size: 15px;
}

blockquote {
    margin: 0 0 0 12px;
    padding: 0 0 0 25px;
}

.tools-outline p {
    margin-bottom: 7px;
}

.tools-outline blockquote p {
    line-height: 1.7;
    margin-bottom: 0;
    text-indent: 20px;
}

.sidebar-left {
    padding: 0;
}

.tools a.nav-link i {
    font-size: 21px;
}

body .sticky-inner .header
	{
	border-bottom-color:#b39535;
	background-color:#fdfaf2;
	}

.navbar .navbar-nav>.nav-item>.nav-link
	{
	color:#a10f2b;
	}

legend small
	{
	color:#640417;
	}


#text-content
	{
	background-color:#e3c56515;
	}


.intro
	{
	display:block;
	width:90%;
	text-align:center;
	margin-bottom:15px;
	font-size:16px;
	margin-left:auto;
	margin-right:auto;
	}

xref 
	{
	display:block;
	font-size:12.5px;
	width:13%;
	text-align:left;
	line-height:1.1;
	text-indent:0;
	margin-top:6px;
	position:absolute;
	left:-14%;
	color:#640417;
	letter-spacing:-0.02em;
	overflow:hidden;
	}


#reference-label-bottom
	{
	border-top:1px solid #bbb;
	margin-top:20px;
	padding-top:20px;
	font-size:19px;
	font-weight:600;
	letter-spacing:.8px;
	margin-left:-20px;
	padding-left:20px;
	margin-right:-20px;
	padding-right:20px;
	}


.navbar-expand-md .navbar-main.collapse .dropdown-menu
	{
	background-color:#fdfaf2;
	border-color:#d9c998;
	border-bottom-color:#d9c998 !important;
	color:#640417;
	font-size:17px;

	}
	
.navbar-expand-md .navbar-main.collapse .dropdown-menu.dropdown-menu-right
	{
	left:auto;
	}
	
.navbar-expand-md .navbar-main.collapse .dropdown-menu.dropdown-menu-center
	{
	left:auto;
	right:auto;
	margin-left:-250% !important;
	}


.menu-book-list
	{
	font-size:14px;
	}

.xref
	{
	cursor:default;
	}
.xref:hover
	{
	font-weight:bold;
	}



#text-content.traditional verse.verse
	{
	display:block;
	}
#text-content.traditional .chapter-number
	{
	display:none;
	}
#text-content.traditional verse.first-verse word.first-word span.first-letter
	{
	font-size:92px;
	float:left;
	padding-right:0px;
	height:64px;
	margin-right:0px;
	line-height:70px;
	}
#text-content.traditional verse.first-verse word.first-word span.first-letter.A
	{
	shape-outside: polygon(50% 0%, 0 100%, 100% 100%);
	margin-right:5px;
	}
#text-content.traditional verse.first-verse word.first-word span.first-letter.R
	{
	shape-outside: polygon(50% 0%, 0 100%, 100% 100%);
	margin-right:10px;
	}
#text-content.traditional .para
	{
	font-weight:bold;
	}
#text-content.traditional .verse-number
	{
	margin-right:7px;
	}
#text-content.traditional h4.ps119-subtitle
	{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	margin-top:10px;
	padding-right:20px;
	}




#text-content.paragraph .verses
	{
	text-align:justify;
	text-justify:inter-word;
	}
#text-content.paragraph .verse
	{
	display:inline;
	margin-right:5px;
	}
#text-content.paragraph .para
	{
	display:none;
	}
#text-content.paragraph .paragraph
	{
	display:block;
	}
#text-content.paragraph ._para
	{
	margin-left:30px;
	}
#text-content.paragraph ._para.first-verse
	{
	margin-left:-5px;
	}
#text-content.paragraph .verse-number
	{
	font-weight:normal;
	margin-left:0px;
	vertical-align:super;
	font-size:10px;
	margin-right:0px!important;
	}
#text-content.paragraph .chapter-number
	{
	display:block;
	font-size:92px;
	float:left;
	margin-right:5px!important;
	margin-bottom:0px;
	margin-top:0px;
	line-height:.9;
	color:#a10f2b;
	width:auto;
	font-weight:normal;
	}
#text-content.paragraph h4.ps119-subtitle
	{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	margin-top:10px;
	padding-right:20px;
	}
#text-content.paragraph verse.first-verse word.first-word.italics span.first-letter
	{
	font-style:italic;
	}




#text-content.reading .verses:after
	{
	height:100%;
	width:1px;
	background:#E6E6E6;
	content: '';
	position:absolute;
	right: 0;
	left:auto;
	top:0;
	bottom:0;
	}
#text-content.reading .verses 
	{
	flex:0 0 75%;
	max-width:75%;
	margin-left:12%;
	}
#text-content.reading .verse
	{
	display:inline;
	margin-right:5px;
	}
#text-content.reading .para
	{
	display:none;
	}
#text-content.reading .paragraph
	{
	display:block;
	}
#text-content.reading ._para
	{
	margin-left:30px;
	}
#text-content.reading ._para.first-verse
	{
	margin-left:0;
	}
#text-content.reading .verse-number
	{
	display:none;
	}
#text-content.reading .chapter-number
	{
	display:none;
	}
#text-content.reading .xref
	{
	display:none;
	}
#text-content.reading #xref
	{
	display:none;
	}
#text-content.reading xref
	{
	display:none;
	}
#text-content.reading #tools
	{
	display:none;
	}
#text-content.reading verse.first-verse word.first-word
	{
	colorx:red;
	}
#text-content.reading span.first-letter
	{
	font-size:92px;
	float:left;
	padding-right:0px;
	height:64px;
	margin-right:0px;
	line-height:70px;
	color:#a10f2b;
	}	
#text-content.reading verse.first-verse word.first-word span.first-letter.A
	{
	shape-outside: polygon(50% 0%, 0 100%, 100% 100%);
	margin-right:5px;
	}
#text-content.reading verse.first-verse word.first-word span.first-letter.R
	{
	shape-outside: polygon(50% 0%, 0 100%, 100% 100%);
	margin-right:10px;
	}
#text-content.reading h4.ps119-subtitle
	{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	margin-top:10px;
	padding-right:20px;
	}





#text-content.retro #verses
	{
	background-color:#fffcf4!important;
	}
#text-content.retro verse.verse
	{
	display:block;
	font-family: 'IM Fell DW Pica', serif;
	color:#4a4c39;
	font-size:24px;
	}
#text-content.retro verse.verse xref
	{
	font-family: 'IM Fell DW Pica', serif;
	font-size:13px;
	}
#text-content.retro .chapter-number
	{
	display:none;
	}
#text-content.retro verse.first-verse word.first-word span.first-letter
	{
	font-size:102px;
	float:left;
	padding:15px 0px 10px 0px;
	height:84px;
	margin-right:0px;
	line-height:70px;
	font-family:eileenregular;
	}
#text-content.retro .para
	{
	font-weight:bold;
	font-size:16px;
	vertical-align: text-top;
	}
#text-content.retro .verse-number
	{
	margin-right:7px;
	}
#text-content.retro h4.ps119-subtitle
	{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	margin-top:10px;
	padding-right:20px;
	}
#text-content.retro #reference-label
	{
	font-family: 'IM Fell DW Pica', serif;
	}



/*\
* Restore Bootstrap 3 "hidden" utility classes.
\*/


/* Breakpoint XS */

@media (max-width: 575px) {
    .hidden-xs-down,
    .hidden-sm-down,
    .hidden-md-down,
    .hidden-lg-down,
    .hidden-xl-down,
    .hidden-xs-up,
    .hidden-xs,
    .hidden-unless-sm,
    .hidden-unless-md,
    .hidden-unless-lg,
    .hidden-unless-xl {
        display: none !important;
    }
    #verses {
        font-size: 16px!important;
    }
    .flex-xs-row {
        flex-direction: row!important;
    }
    #tools {
        display: none;
        margin-top: 20px!important;
    }
    .sub-header {
        margin-left: 0px;
    }
    .left-sub-header {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 17px;
        text-align: left!important;
    }
    .right-sub-header {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 17px;
        text-align: right!important;
    }
    .middle-sub-header {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 17px;
    }
}


/* Breakpoint SM */

@media (min-width: 576px) and (max-width: 767px) {
    .hidden-sm-down,
    .hidden-md-down,
    .hidden-lg-down,
    .hidden-xl-down,
    .hidden-xs-up,
    .hidden-sm-up,
    .hidden-sm,
    .hidden-unless-xs,
    .hidden-unless-md,
    .hidden-unless-lg,
    .hidden-unless-xl {
        display: none !important;
    }
    .container {
        max-width: 100%;
        padding: 5px 20px;
    }
    #verses {
        font-size: 17px!important;
    }
}


/* Breakpoint MD */

@media (min-width: 768px) and (max-width: 991px) {
    .hidden-md-down,
    .hidden-lg-down,
    .hidden-xl-down,
    .hidden-xs-up,
    .hidden-sm-up,
    .hidden-md-up,
    .hidden-md,
    .hidden-unless-xs,
    .hidden-unless-sm,
    .hidden-unless-lg,
    .hidden-unless-xl {
        display: none !important;
    }
    #content {
        padding: 15px 10px;
    }
    #content .container {
        max-width: 768px;
        padding: 5px 0;
    }
    #verses {
        font-size: 17px!important;
    }
    #xref {
        padding: 5px;
    }
    .xref {
        margin-right: 0px;
        padding-left: 5px;
        width: 55px;
    }
    #lexicon-definition {
        position: relative!important;
        top: 0!important;
        width: 100%!important;
    }
    .xref {
        font-size: 10px;
    }
}


/* Breakpoint LG */

@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-lg-down,
    .hidden-xl-down,
    .hidden-lg,
    .hidden-xs-up,
    .hidden-sm-up,
    .hidden-md-up,
    .hidden-lg-up,
    .hidden-unless-xs,
    .hidden-unless-sm,
    .hidden-unless-md,
    .hidden-unless-xl {
        display: none !important;
    }
}


/* Breakpoint XL */

@media (min-width: 1200px) {
    .hidden-xl-down,
    .hidden-xl,
    .hidden-xs-up,
    .hidden-sm-up,
    .hidden-md-up,
    .hidden-lg-up,
    .hidden-xl-up,
    .hidden-unless-xs,
    .hidden-unless-sm,
    .hidden-unless-md,
    .hidden-unless-lg {
        display: none !important;
    }
}

html,
body {
    height: 100%;
}

.page-content {
    min-height: 100vh!important;
    margin-bottom: -134px;
}

.smallcaps {
    font-variant: small-caps;
}